{% extends "base.html" %}

{% block css %}
    <style>
        /* css to override defaults for home only */
        #css .to{ override:defaults; for:home-only; }
    </style>
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css" /> -->
{% endblock %}

{% block content %}
<h2 id="mission-statement">Mission Statement</h2>
<div class="grid_12">
  <article class="pad">
  <p>
Counselling Worx is committed to providing compassionate service to people. <br/>
We believe in the transforming power of change. <br/>
We endeavour to respect the individuality, dignity and diversity of all people who access our services. <br/>
Counselling Worx holistically fosters wellbeing within individuals, families and our community. </p>
</article>

</div>


 
<div class="section_2 ">
 <article class="grid_4">
            <blockquote>Talk through your problems or worries with a trained professional</blockquote>
  </article>
           <article class="grid_4">
            <blockquote>Explore new ways of thinking or behaving</blockquote>
        </article>
           <article class="grid_4">
           <blockquote>Get help &amp; support for individuals, couples, and families in times of need</blockquote>
        </article></div>
        
<h2 id="types-of-counselling">Types of Counselling</h2>
<div id="toc">
 
  <article class="grid_3">
  <p>
Our counsellors are equipped to work with issues such as: </p>

</article>
 
<article class="grid_3">
               <ul>
               <li>
                 Depression</li>
               <li>
                 Relationships</li>
               <li>
                 Marriage</li>
               <li>
                 Self Esteem</li>
               <li>
                 Communication</li>
                 
              
             </ul>
  </article>
           <article class="grid_3">
             <ul>
                
               <li>
                 Grief</li>
               <li>
                 Stress</li>
            
               <li>Parenting</li>
               <li>
                 Work place stress</li>
               <li>
                 Adjusting to new situations</li>
               
             </ul>
        </article>
         
<article class="grid_3">
               <ul>
               <li>
                 Goal Setting</li>
               <li>
                 Time Management</li>
               <li>
                 Work / Life balance</li>
               <li>
                 Life Coaching</li>
                 <li>
                 Interview Preperation</li>
  </ul>
</article>
</div>

<h2 id="about-our-counsellors" class="clearfix">About our Counsellors</h2>
<div class="grid_12  b_in"><p>The Counselling Worx team believes in the worth and potential of all human beings. We are committed to assisting people in removing barriers that impede the quality of life. <br />
We value professional diligence and lifelong learning and are committed to staying current and relevant to our clients.<br />
Our Counsellors are able to work with a wide range of issues, and can access a variety of modalities including;</p>
<article class="grid_5 push_1">
               <ul>
               <li>
                Cognitive Behaviour Therapy</li>
               <li> Solution Focused Therapy</li>
               <li> Person Centred Therapy</li>
    </ul>
  </article>
<article class="grid_5 push_1 alpha">
               <ul>
               <li>
                 Interactional drawing therapy                 </li>
               <li>Art Therapy                 </li>
               <li>Narrative Therapy</li>
    </ul>
</article>
<div class="grid_12">
<p >All of our Counsellors hold current appropriate qualifications and are members of either NZAC or NZCCA</p>
</div>
</div>
<div id="people">
<div  class="section_2 pad_top ">
<article class="grid_6">
<h2 >Margie Culhane</h2>
<img class="grid_2" src="static/images/margie.png">
<p class="grid_3 white_info alpha">B. Soc Sci – Couns (Applied)<br />
  MNZAC (prov)<br />
  margie@counsellingworx.co.nz</p>
  <div class="grid_6 alpha white_box">
  <p>Margie is a mature woman who has raised a family of three children. Margie re-trained as a Counsellor after a successful career in the hairdressing industry. Her understanding and sensitivity has been honed and refined through many years of working alongside people. Margie is talented at listening to concerns and helping to find solutions. Margie specialises in the areas of self esteem and identity issues.</p>
  
  </div>
</article>

<article class="grid_6">
<h2 >Bryce Diprose
</h2>
<img  class="grid_2" src="static/images/bryce.png">
   <p class="grid_3 white_info alpha">B. Counselling (Applied)<br />
  MNZAC<br />
  bryce@counsellingworx.co.nz</p>
    <div class="grid_6 alpha white_box">
  <p>Bryce is an experienced Counsellor, a father to three adult children. Bryce enjoyed a career in the farming industry prior to training as a counsellor. <br />
    Bryce is patient and kind, he is skilled and able to work with issues in a variety of ways using skills acquired over many years of counselling. Relationships issues are of special interest to Bryce.</p>
  
  </div>
</article>
</div>
<div  class="section_2 ">
<article class="grid_6">
<h2 >Joanne Newman
</h2>
<img class="grid_2" src="static/images/joanne.png">
   <p class="grid_3 white_info alpha">Dip. Couns. (Applied)<br />
     Registered Nurse.     <br />
  MNZCCA<br />
  joanne@counsellingworx.co.nz</p>
   <div class="grid_6 alpha white_box">
  <p>Joanne is a mature woman, a mother of two adult daughters and one teenage son. Joanne's life experience including a former career as a nurse alongside Counselling in many settings has equipped her with a wide understanding of people and a range of skills to draw from. Joanne has a very kind heart and a joyous nature. Joanne's area of special interest is relationships.</p>
  
  </div>
  </article>
<article class="grid_6">
<h2 >Donna Cooney 
</h2>
<img class="grid_2" src="static/images/donna.png">
             <p class="grid_3 white_info alpha">Dip. Couns. (Applied)<br />
  MNZCCA (prov)<br />
  Subcontrctor</p>
   <div class="grid_6 alpha white_box">
  <p>Donna is a mature woman who has raised two children. Donnas' former career was as a teacher.  Donna is warm and compassionate and has developed a wonderful wisdom by growing through many life issues. Donnas' area of special interest is helping people understand and heal from grief and relationship issues.</p>
  
  </div>
</article>
</div>
</div>
<h2 id="ways-of-funding" class="clearfix ">Ways Of Funding</h2>
<div  class="grid_12 b_in margin_bottom"><p>Counselling Worx currently provide Counselling for the following contracts and organisations.</p>
<article class="grid_5 push_1">
               <ul>
               <li><strong>Midlands</strong> – G.P referred counselling </li>
               <li><strong>Northcare</strong> – Mild to moderate mental health issues.</li>
               <li><strong>OCP</strong> – Organisational counselling programme. </li>
    </ul>
  </article>
<article class="grid_5 push_1 alpha">
  <ul>
      <li><strong>WINZ</strong> – (Disability Allowance)</li>
      <li><strong>Private</strong> – Self funded.<br />
      Private fees range between $80 -$ 100 depending on income and counselling required.</li>
    </ul>
</article>
<div class="grid_12">
<p >Please note we operate on an appointment only basis.</p>
</div>
</div>

<h2 id="contact" class="clearfix">Contact Us</h2>

    
        <article class="grid_4 ">
            <h3>Contact Details</h3>
            
            <dl>
                <dt>P</dt>
                <dd>(07) 852 5847</dd>
                <dt>F</dt>
                <dd>(07) 852 5846</dd>
                <dt>E</dt>
                <dd>admin@counsellingworx.co.nz<br />
</dd>
            </dl>
            <article class="grid_4 alpha omega c_form">
            <h3>Form</h3>
            
            <form action="http://admin.infusecreative.co.nz/mail_forms/send/" method="get" id="contact-form">
                <input type="hidden" value="c1e3944270" name="key">
                
                <p>
                    <label for="name">Name </label>
                    <input type="text" name="name" class="required">
                </p> 
                <p>
                    <label for="email">Email </label>
                    <input type="text" name="email" class="required email">
                </p> 
                <p>
                    <label for="subject">Subject </label>
                    <input type="text" name="subject" class="required">
                </p> 
                <p>
                    <label for="somename">Custom field </label>
                    <input type="text" name="somename">
                </p> 
                <p>
                    <label for="message">Message </label>
                    <textarea name="message" class="required"></textarea>
                </p> 
                <p id="send-button"><input type="submit" value="Send"></p>
                <p class="sending message">Sending...</p>
                <p class="sent message"><span class="icon icon-check"></span> Your message has been sent, we'll contact you as soon.</p>
                <p class="error message"><span class="icon red icon-alert "></span> Sorry, there was an error sending your message! Please try again or send us an email.</p>
            </form>
            <hr class="clear">
        </article>
        </article>

        
   


       <article class="grid_8">
        <h3>Address</h3>
        <p>Fifth Avenue. Five Cross Roads. Wickham House building <br />
        (right hand side of Salvation Army shop)</p>
        <!-- <iframe class="grid_8 alpha omega" gives width - remove width param -->
<iframe class="grid_8 alpha omega" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.nz/maps?q=-37.772589,175.294228&amp;num=1&amp;t=m&amp;vpsrc=6&amp;sll=-37.787001,175.279253&amp;sspn=0.141157,0.256119&amp;ie=UTF8&amp;ll=-37.772733,175.293463&amp;spn=0.002035,0.003433&amp;z=18&amp;output=embed"></iframe><p></p></article>
{% endblock %}

{% block js %}
<!-- <script src="{{ STATIC_URL }}js/extra.js"></script> -->

<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script>
    $(function(){
        $("#contact-form").validate({
            submitHandler: function(form){
                $form=$(form);
                $form.ajaxSubmit({
                    success:function(response){
                        $form.removeClass('sending');
                        if(response.success){
                            $form.addClass('sent');
                        }else{
                            $form.addClass('error');
                        }
                    },
                    dataType:"jsonp"
                });
                $form.addClass('sending').removeClass('error');
            }
        });
    });
	
    </script>
    
    
    
{% endblock %}