{% extends "base.html" %}

{% block css %}
    <style>
        #css .to{ override:defaults; for:home-only; }

        .rounded{ -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
        .box-shadow{ -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888; box-shadow: 10px 10px 5px #888; }
        .text-shadow{ text-shadow: 2px 2px 2px #000; }

    </style>
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css" /> -->
{% endblock %}

{% block content %}

{% endblock %}

{% block js %}
    <!-- <script src="{{ STATIC_URL }}js/extra.js"></script> -->
    <script>
        //Page JS code here
    </script>
{% endblock %}