{% extends "base.html" %}
{% block title %}Styles{% endblock %}

{% block content %}
<div id="breadcrumbs">
    <a href="/">Home</a><a href="/sub">Sub</a><a>Here</a>s
</div>

<h1>Heading h1 = page heading</h1>

<article class="grid_8">
    <h2>Heading h2 = section heading</h2>
    
    <p>Paragraph. By joining the Hamilton SAR Group you will enjoy the following benefits:</p>

    <h3>Heading h3</h3>
    <ul>
        <li>List</li>
        <li>Share the company of a great bunch of like minded outdoor enthusiasts</li>
        <li>Extensive training opportunities including a Diploma qualification</li>
        <li>Substantial discounts at sport shops in Hamilton Monthly newsletters</li>
        <ul>
            <li>Nested List</li>
            <li>Share the company of a great bunch of like minded outdoor enthusiasts</li>
            <li>Extensive training opportunities including a Diploma qualification</li>
            <li>Substantial discounts at sport shops in Hamilton Monthly newsletters</li>
        </ul>
    </ul>

    <h4>Heading h4</h4>
    <p>Paragraph. By joining the Hamilton SAR Group you will enjoy the following benefits:</p>
    <blockquote>blockquote stlye</blockquote>
    
</article>

<article class="grid_4">
    <h2>links</h2>
    <ul>
        <li><a href="http://www.colorzilla.com/gradient-editor/">CSS3 Gradients</a></li>
        <li><a href="/documents/new_members">Information for Prospective Members</a></li>
        <li><a href="/documents/mini_sarex_1">Information on the Assessment Weekend</a></li>
    </ul>
</article>

<article class="grid_4">
    <h2>CSS3 Stuff</h2>
    
    <p class="text-shadow">text-shadow</p>
    <p class="box-shadow grid_2 alpha">box-shadow</p>
    <p class="rounded grid_2 alpha" style="background:#999; clear:left">rounded</p>
    
</article>

<hr>

<article class="grid_12">
    <h2>Icons</h2>
<p>To use other colors <a href="http://jqueryui.com/themeroller/images/?new=EE7C08&w=256&h=240&f=png&fltr[]=mask|icons/icons.png">grab an image</a> and put it in static/css/icons then edit icons.css</p>

<span class="icon icon-bullet"></span>Normal
<span class="icon light icon-bullet"></span>Light
<span class="icon red icon-bullet"></span>Red
<br>

<span class="icon icon-carat"></span>
<span class="icon icon-carat-1-ne"></span>
<span class="icon icon-carat-1-e"></span>
<span class="icon icon-carat-1-se"></span>
<span class="icon icon-carat-1-s"></span>
<span class="icon icon-carat-1-sw"></span>
<span class="icon icon-carat-1-w"></span>
<span class="icon icon-carat-1-nw "></span>
<span class="icon icon-carat-2-n-s "></span>
<span class="icon icon-carat-2-e-w "></span>
<span class="icon icon-triangle-1-n"></span>
<span class="icon icon-triangle-1-ne"></span>
<span class="icon icon-triangle-1-e"></span>
<span class="icon icon-triangle-1-se"></span>
<span class="icon icon-triangle-1-s"></span>
<span class="icon icon-triangle-1-sw"></span>
<span class="icon icon-triangle-1-w"></span>
<span class="icon icon-triangle-1-nw"></span>
<span class="icon icon-triangle-2-n-s"></span>
<span class="icon icon-triangle-2-e-w"></span>
<span class="icon icon-arrow-1-n"></span>
<span class="icon icon-arrow-1-ne"></span>
<span class="icon icon-arrow-1-e"></span>
<span class="icon icon-arrow-1-se"></span>
<span class="icon icon-arrow-1-s"></span>
<span class="icon icon-arrow-1-sw"></span>
<span class="icon icon-arrow-1-w"></span>
<span class="icon icon-arrow-1-nw"></span>
<span class="icon icon-arrow-2-n-s"></span>
<span class="icon icon-arrow-2-ne-sw"></span>
<span class="icon icon-arrow-2-e-w"></span>
<span class="icon icon-arrow-2-se-nw"></span>
<span class="icon icon-arrowstop-1-n"></span>
<span class="icon icon-arrowstop-1-e"></span>
<span class="icon icon-arrowstop-1-s"></span>
<span class="icon icon-arrowstop-1-w"></span>
<span class="icon icon-arrowthick-1-n"></span>
<span class="icon icon-arrowthick-1-ne"></span>
<span class="icon icon-arrowthick-1-e"></span>
<span class="icon icon-arrowthick-1-se"></span>
<span class="icon icon-arrowthick-1-s"></span>
<span class="icon icon-arrowthick-1-sw"></span>
<span class="icon icon-arrowthick-1-w"></span>
<span class="icon icon-arrowthick-1-nw"></span>
<span class="icon icon-arrowthick-2-n-s"></span>
<span class="icon icon-arrowthick-2-ne-sw"></span>
<span class="icon icon-arrowthick-2-e-w"></span>
<span class="icon icon-arrowthick-2-se-nw"></span>
<span class="icon icon-arrowthickstop-1-n"></span>
<span class="icon icon-arrowthickstop-1-e"></span>
<span class="icon icon-arrowthickstop-1-s"></span>
<span class="icon icon-arrowthickstop-1-w"></span>
<span class="icon icon-arrowreturnthick-1-w"></span>
<span class="icon icon-arrowreturnthick-1-n"></span>
<span class="icon icon-arrowreturnthick-1-e"></span>
<span class="icon icon-arrowreturnthick-1-s"></span>
<span class="icon icon-arrowreturn-1-w"></span>
<span class="icon icon-arrowreturn-1-n"></span>
<span class="icon icon-arrowreturn-1-e"></span>
<span class="icon icon-arrowreturn-1-s"></span>
<span class="icon icon-arrowrefresh-1-w"></span>
<span class="icon icon-arrowrefresh-1-n"></span>
<span class="icon icon-arrowrefresh-1-e"></span>
<span class="icon icon-arrowrefresh-1-s"></span>
<span class="icon icon-arrow-4"></span>
<span class="icon icon-arrow-4-diag"></span>
<span class="icon icon-extlink"></span>
<span class="icon icon-newwin"></span>
<span class="icon icon-refresh"></span>
<span class="icon icon-shuffle"></span>
<span class="icon icon-transfer-e-w"></span>
<span class="icon icon-transferthick-e-w"></span>
<span class="icon icon-folder-collapsed"></span>
<span class="icon icon-folder-open"></span>
<span class="icon icon-document"></span>
<span class="icon icon-document-b"></span>
<span class="icon icon-note"></span>
<span class="icon icon-mail-closed"></span>
<span class="icon icon-mail-open"></span>
<span class="icon icon-suitcase"></span>
<span class="icon icon-comment"></span>
<span class="icon icon-person"></span>
<span class="icon icon-print"></span>
<span class="icon icon-trash"></span>
<span class="icon icon-locked"></span>
<span class="icon icon-unlocked"></span>
<span class="icon icon-bookmark"></span>
<span class="icon icon-tag"></span>
<span class="icon icon-home "></span>
<span class="icon icon-flag"></span>
<span class="icon icon-calendar"></span>
<span class="icon icon-cart"></span>
<span class="icon icon-pencil"></span>
<span class="icon icon-clock"></span>
<span class="icon icon-disk"></span>
<span class="icon icon-calculator"></span>
<span class="icon icon-zoomin"></span>
<span class="icon icon-zoomout"></span>
<span class="icon icon-search"></span>
<span class="icon icon-wrench"></span>
<span class="icon icon-gear"></span>
<span class="icon icon-heart"></span>
<span class="icon icon-star"></span>
<span class="icon icon-link"></span>
<span class="icon icon-cancel "></span>
<span class="icon icon-plus"></span>
<span class="icon icon-plusthick"></span>
<span class="icon icon-minus"></span>
<span class="icon icon-minusthick"></span>
<span class="icon icon-close"></span>
<span class="icon icon-closethick"></span>
<span class="icon icon-key"></span>
<span class="icon icon-lightbulb"></span>
<span class="icon icon-scissors"></span>
<span class="icon icon-clipboard"></span>
<span class="icon icon-copy"></span>
<span class="icon icon-contact"></span>
<span class="icon icon-image"></span>
<span class="icon icon-video"></span>
<span class="icon icon-script"></span>
<span class="icon icon-alert "></span>
<span class="icon icon-info"></span>
<span class="icon icon-notice"></span>
<span class="icon icon-help"></span>
<span class="icon icon-check"></span>
<span class="icon icon-bullet"></span>
<span class="icon icon-radio-off"></span>
<span class="icon icon-radio-on"></span>
<span class="icon icon-pin-w"></span>
<span class="icon icon-pin-s"></span>
<span class="icon icon-play"></span>
<span class="icon icon-pause"></span>
<span class="icon icon-seek-next"></span>
<span class="icon icon-seek-prev"></span>
<span class="icon icon-seek-end"></span>
<span class="icon icon-seek-start"></span>
<span class="icon icon-stop"></span>
<span class="icon icon-eject"></span>
<span class="icon icon-volume-off"></span>
<span class="icon icon-volume-on"></span>
<span class="icon icon-power"></span>
<span class="icon icon-signal-diag"></span>
<span class="icon icon-signal"></span>
<span class="icon icon-battery-0"></span>
<span class="icon icon-battery-1"></span>
<span class="icon icon-battery-2"></span>
<span class="icon icon-battery-3"></span>
<span class="icon icon-circle-plus "></span>
<span class="icon icon-circle-minus"></span>
<span class="icon icon-circle-close"></span>
<span class="icon icon-circle-triangle-e"></span>
<span class="icon icon-circle-triangle-s"></span>
<span class="icon icon-circle-triangle-w"></span>
<span class="icon icon-circle-triangle-n"></span>
<span class="icon icon-circle-arrow-e"></span>
<span class="icon icon-circle-arrow-s"></span>
<span class="icon icon-circle-arrow-w"></span>
<span class="icon icon-circle-arrow-n"></span>
<span class="icon icon-circle-zoomin"></span>
<span class="icon icon-circle-zoomout"></span>
<span class="icon icon-circle-check"></span>
<span class="icon icon-circlesmall-plus "></span>
<span class="icon icon-circlesmall-minus"></span>
<span class="icon icon-circlesmall-close"></span>
<span class="icon icon-squaresmall-plus"></span>
<span class="icon icon-squaresmall-minus"></span>
<span class="icon icon-squaresmall-close"></span>
<span class="icon icon-grip-dotted-vertical "></span>
<span class="icon icon-grip-dotted-horizontal"></span>
<span class="icon icon-grip-solid-vertical"></span>
<span class="icon icon-grip-solid-horizontal"></span>
<span class="icon icon-gripsmall-diagonal-se"></span>
<span class="icon icon-grip-diagonal-se"></span>
    
</article>

<article class="grid_4">
    <h2>links</h2>
    <ul>
        <li><a href="/documents/application_form">Application Form</a></li>
        <li><a href="/documents/new_members">Information for Prospective Members</a></li>
        <li><a href="/documents/mini_sarex_1">Information on the Assessment Weekend</a></li>
    </ul>
</article>

<article class="grid_8">
    <h2>Heading h2</h2>
    
    <p>Paragraph. By joining the Hamilton SAR Group you will enjoy the following benefits:</p>

    <h3>Heading h3</h3>

    <h4>Heading h4</h4>
    <p>Paragraph. By joining the Hamilton SAR Group you will enjoy the following benefits:</p>
    <blockquote>blockquote stlye</blockquote>
</article>

    <article class="grid_12">
        <h2>Calendar</h2>

        <table id="calendar">
            <tr><th colspan="5">July</tr>
            <tr><td>18<sup>th</sup><td class="type meeting">Meeting<td>Search planning scenarios<td class="location home">Hamilton<td ></tr>
            <tr><td>27<sup>th</sup><td class="type training">Training<td>Monthly Training (Wednesday)<td class="location home">Hamilton<td ></tr>

            <tr><th colspan="5">August</tr>
            <tr><td>12<sup>th</sup> - 14<sup>th</sup><td class="type course">Course<td>Search Methods<td class="location">Tauranga<td ></tr>
            <tr><td>12<sup>th</sup> - 14<sup>th</sup><td class="type course">Course<td>Tracking<td class="location">Tauranga<td><span class="tag">New</tr>
            <tr><td>15<sup>th</sup><td class="type meeting">Meeting<td>Guest Speaker - Leadership and Initiative<td class="location home">Hamilton<td ></tr>
            <tr><td>20<sup>th</sup> - 21<sup>st</sup><td class="type course">Course<td>Search Methods<td class="location home">Hamilton<td ></tr>
            <tr><td>20<sup>th</sup> - 21<sup>st</sup><td class="type course">Course<td>Team Leader<td class="location home">Hamilton<td ></tr>
            <tr><td>20<sup>th</sup> - 21<sup>st</sup><td class="type course">Course<td>First Aid (SARINZ)<td class="location home">Hamilton<td ></tr>
            <tr><td>22<sup>nd</sup><td class="type meeting">Meeting<td>LandSar CEO Roadshow<td class="location home">Hamilton<td><span class="tag">New</tr>
            <tr><td>25<sup>th</sup><td class="type training">Training<td>Monthly Training (Thursday)<td class="location home">Hamilton<td ></tr>

            <tr><th colspan="5">September</tr>
            <tr><td>3<sup>rd</sup> - 4<sup>th</sup><td class="type course">Course<td>MLSO Refresher<td class="location home">Hamilton<td ></tr>
            <tr><td>16<sup>th</sup> - 18<sup>th</sup><td class="type course">Course<td>First Aid (MSC)<td class="location home">Hamilton<td><span class="tag">New</tr>
            <tr><td>19<sup>th</sup><td class="type meeting">Meeting<td>Decision Points Part 2 and Search Methods<td class="location home">Hamilton<td ></tr>
            <tr><td>23<sup>rd</sup> - 25<sup>th</sup><td class="type course">Course<td>MLSO - 3-Day Initial Response Course<td class="location">National Park<td><span class="tag">New</tr>
            <tr><td>28<sup>th</sup><td class="type training">Training<td>Monthly Training (Wednesday)<td class="location home">Hamilton<td ></tr>

            <tr><th colspan="5">October</tr>
            <tr><td>9<sup>th</sup> - 10<sup>th</sup><td class="type course">Course<td>Foundation Rope Rescue<td class="location">Whitianga<td ></tr>
            <tr><td>18<sup>th</sup><td class="type meeting">Meeting<td>Rogaine practice<td class="location home">Hamilton<td ></tr>
            <tr><td>27<sup>th</sup><td class="type training">Training<td>Monthly Training (Thursday)<td class="location home">Hamilton<td ></tr>

            <tr><th colspan="5">November</tr>
            <tr><td>11<sup>th</sup> - 13<sup>th</sup><td class="type course">Course<td>First Aid (MSC)<td class="location">Tauranga<td ></tr>
            <tr><td>30<sup>th</sup><td class="type training">Training<td>Monthly Training (Wednesday)<td class="location home">Hamilton<td ></tr>

            <tr><th colspan="5">February</tr>
            <tr><td><td class="type meeting">Meeting<td>Pack Float on Waikato River<td class="location home">Hamilton<td ></tr>

            <tr><th colspan="5">March</tr>
            <tr><td>9<sup>th</sup> - 11<sup>th</sup><td class="type course">Course<td>MLSO - 3-Day Initial Response Course<td class="location">National Park<td><span class="tag">New</tr>
        <table>
    </article>

{% endblock %}